.cart{
    visibility: hidden;
}

.checkout {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.checkout-form label {
    font-weight: bold;
}

.checkout-form input,
.checkout-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.checkout-form button:hover {
    background-color: #3e8e41;  
}

#alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close-alert {
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}